# .gitignore для go проектов
# Исполняемые файлы (бинарники)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Сгенерированные файлы и профили покрытия
*.out
*.coverprofile
profile.cov

# Директория вендинга (обычно не коммитится)
vendor/

# Файлы рабочего пространства (Go Workspaces)
go.work
go.work.sum

# Файлы окружения (секреты)
.env

# Файлы редакторов и IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы ОС
.DS_Store
Thumbs.db
